
body{
    background-image: url(assets/image/BACKGROUNDVI.jpg); 
    height: 100vh;
    background-color: #adbcb8;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    margin: 0;
    padding: 0;
   }


  
/* .vastri{
    color: aliceblue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-shadow: 4px 4px 5px #1a1919;

} */
.logoimg{
    width: 100%;
    height: auto;
    
}

h1{
    max-width: 100%;
    height: auto;

    color: #ffffff;
    text-shadow: 5px 5px   #1a1919;
    font-size: 80px;;
    font-family: "times new roman", Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    

}
h2 {
    color: #ffffff;
    text-shadow: 3px 3px   #1a1919;
    font-size: 40px;;
    font-family: "times new roman", Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    
}
.navbar {
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
    
}
.navbar:hover {
    color: orange;
}
video {
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
.vfx {
    align-items: center;
}
.portrait {
max-width: 40%;
display: flex;
margin: auto;
}