nav, header, footer {
    display: block;
}
body{
    background-image: url(assets/image/sky3.png); 
    height: 200vh;
    background-color: #57329d;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    margin: 0;
    padding: 0;
   }
   nav {
    width: 100%;
    margin: 0;
    }
    nav ul{
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
  
p {
    margin: 20px;
}

.logoimg{
    width: 100%;
    height: auto;
    
}

h1{
    max-width: 100%;
    height: auto;

    color: #ffffff;
    text-shadow: 5px 5px   #1a1919;
    font-size: 80px;;
    font-family: "times new roman", Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 0;
    

}
h2 {
    color: #ffffff;
    text-shadow: 3px 3px   #1a1919;
    font-size: 40px;;
    font-family: "times new roman", Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    
}
nav.navbar li {
    list-style: none;
    float: left;
}
nav.navbar li a{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    min-height: 20px;  
   text-decoration: none;
   text-align:center ;
   padding: 15px;
   text-transform: uppercase;

}
nav.navbar li a:hover {
    background-color: #e8eded;
    color: orange;
}
nav.navbar li.dropdown {
   display: none; 
}
@media screen and ( max-width:1480px) {
nav.navbar li :not(:nth-child(1)){
    display: none;
}
}
    

video {
    max-width: 100%;
}
iframe {
    max-width: 100%;
    display: flex;
    margin: auto;
}

.portrait {
max-width: 40%;
display: block;
margin: auto;
}
.graphics {
    width:100%;
    display: block;
    margin: auto;
}
.soundt {
    max-width: 60%;
    display: block;
    margin: auto;
}

footer a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 20px 20px 20px 20px;
    display: block;
    text-align: center;
}
footer div p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
footer h4 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.contactform {
    padding: 20px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color:white ;
    text-align: center;
    align-items: center;
    margin: 30px;


}
.contactform h3 {
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
}
.contactform input {
    border: 1px solid  #ffffff;
    display: block;
    padding: 10px 10px;
    font-size: 10px;
    color: gray;
    width: 100%;
    margin-bottom: 15px;
}
.contactform label {
    color: #ffffff;
}

.team h4 {
    text-align: center;
    color: #353737;
    font-size: 25px;
}